<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자라태양광</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        .chart-container {
            position: relative;
            margin: auto;
            height: 80vh;
            width: 80vw;
        }
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <nav class="bg-blue-500 p-4 mb-4">
            <ul class="flex space-x-4 text-white">
                <li class="nav-item">
                    <a class="nav-link" href="https://jinsoo.pythonanywhere.com/two/">바라보다</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://jinsoo.pythonanywhere.com/two/">자라태양광</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </nav>
        <h1 class="text-2xl font-semibold text-gray-800 mb-4" style="text-align: center;">바라보다</h1>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="flex flex-col items-center space-y-4">
                <input name="date-input" id="date-input" type="date" class="border-2 border-gray-300 rounded-lg p-2 text-gray-700 focus:ring-blue-500 focus:border-blue-500" placeholder="날짜 선택하기">
                <button type="button" onclick="submitForm()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    조회
                </button>
            </div>
        </form>
    </div>
    <div class="chart-container">
        <canvas id="csvChart"></canvas>
    </div>

    <script>
        function submitForm() {
            var selectedDate = document.getElementById('date-input').value;
            var url = '/two/' + selectedDate + '/';
            window.location.href = url;
        }

        document.addEventListener('DOMContentLoaded', function () {
            var selectedDate = "{{ selected_date }}";
            var chartDataURL = '/two/' + selectedDate + '/chart_data/';
            fetch(chartDataURL)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Network response was not ok: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    drawChartWithCsvData(document.getElementById('csvChart'), data.labels, data.data);
                })
                .catch(error => {
                    console.error('Error during fetch:', error);
                });
        });

        function drawChartWithCsvData(canvas, labels, data) {
            const chartData = {
                labels: labels,
                datasets: [{
                    label: '발전량(kW)',
                    backgroundColor: 'rgba(99, 102, 241, 0.5)',
                    borderColor: 'rgb(99, 102, 241)',
                    data: data,
                    fill: false,
                    pointRadius: 5,
                    pointHoverRadius: 8,
                    showLine: true
                }]
            };

            const config = {
                type: 'line',
                data: chartData,
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'minute',
                                displayFormats: {
                                    minute: 'HH:mm'
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '시간'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '값'
                            },
                            ticks: {
                                max: 16000  // y축 최대값 설정
                            }
                        }]
                    }
                }
            };


            const ctx = canvas.getContext('2d');
            new Chart(ctx, config);
        }
    </script>
</body>

</html>
